<nav>

    <div class="profile">
        <div class="image">
            <!-- dummy image placeholder-->
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/customer-service-5565736-4715086.png" alt="Profile Picture">

        </div>
        <div class="details">
            <h3>
                {{user.full_name}}
            </h3>
            <p>Student</p>
        </div>
    </div>

    <ul>
        <!-- home -->
        <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fas fa-briefcase"></i> Placement</a></li>
        <li><a href="#"><i class="fad fa-phone-office"></i>Authorities</a></li>

    </ul>


    <div class="notifications">
        <button><i class="fas fa-bell"></i></button>
    </div>
</nav>