<div class="sidebar">
    <div class="inner">
        <div class="top">
            <div class="logo">UniTrack</div>

            <div class="menu">
                <ul>
                    <li><a href="../add_review"><i class="fas fa-marker"></i> Add Review</a></li>
                    <li><a href="../all_reviews"><i class="fas fa-hourglass-half"></i> All Reviews</a></li>
                    <li><a href="#"><i class="fad fa-mailbox"></i> Mail Box</a></li>
                    <li><a href="../create_issues"><i class="fad fa-globe-europe"></i>Issues</a></li>
                    <li><a href="../rms"><i class="fas fa-university"></i> Two Way RMS</a></li>

                    {% if user.is_admin %}
                    <li><a href="../update_user_profile"><i class="fas fa-user-shield"></i> Update Users</a></li>
                    {% endif %}

                </ul>
                <div style="width: 100%; text-align: center; margin-top: 20px;">
                    <h3>Other Projects</h3>
                    <img style="width: 80%; border-radius: 12px ;margin: 5px" src="https://enally.in/cdn/globalImages/CLASSROOM%20BUCKETAn.gif" alt="">
                </div>
            </div>
        </div>

        

        <div class="bottom">
            <div class="links">
                <ul>
                    <li><a href="../profile"><i class="fas fa-cog"></i>Settings</a> </li>
                    <li><a href="
                        javascript:void(0);" onclick="logout()
                        "><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    <li><a href="#"><i class="fas fa-bug"></i> Report Bug</a></li>
                </ul>
            </div>

            <p>Copyright © 2024 by Enally.in </p>
        </div>
    </div>
</div>

<script>
    const logout = () => {
        const confirmLogout = confirm("Are you sure you want to logout?");
        if (confirmLogout) {
            window.location.href = "/logout";
        }
    }
</script>